<ion-content padding class="modal-box">
  <ion-row>
    <ion-col size-lg offset="11">
      <span item-end class="round">
        <ion-icon name="close" (click)="closeModal()"></ion-icon>
      </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <form [formGroup]="transForm" style="width: 100%">

      <ion-item>
        <ion-label position="floating">Start Date</ion-label>
        <ion-datetime formControlName="start" [(ngModel)]="start" displayFormat="DD-MM-YYYY" (ionChange)="dateChangeStart($event)"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">End Date</ion-label>
        <ion-datetime formControlName="end" [(ngModel)]="end" displayFormat="DD-MM-YYYY" (ionChange)="dateChangeEnd($event)"></ion-datetime>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button color="secondary" expand="full" shape="round">SEarch</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-row>
  <hr>
</ion-content>