<ion-content padding>
    <form [formGroup]="searchForm">
        <ion-grid>
            <span class="search-title">Search By</span>
            <ion-row class="margin-top">
                <ion-col class="select-form">
                    <ion-select value="select" style="text-transform: capitalize" okText="Okay" cancelText="Dismiss"
                        class="no-pad-input" (ionChange)="getFilter($event)">
                        <ion-select-option value="select">Select transaction</ion-select-option>
                        <ion-select-option value="{{ item }}" *ngFor="let item of filterArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col class="select-input">
                    <ion-input typ="text" class="no-pad-input position" formControlName="filter"
                        [(ngModel)]="filterValue"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col>
                    <ion-datetime class="date-style date-pad" placeholder="Start Date" displayFormat="YYYY/MM/DD"
                        max="{{ deafaultDate }}" (ionChange)="startDate($event)" [(ngModel)]="deafaultDate"
                        formControlName="start"></ion-datetime>
                </ion-col>
                <ion-col>
                    <ion-datetime class="date-style date-pad" placeholder="End Date" displayFormat="YYYY/MM/DD"
                        max="{{ deafaultDate }}" min="{{ deafaultDate }}" (ionChange)="endDate($event)"
                        [(ngModel)]="deafaultDate" formControlName="end"></ion-datetime>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="font-13">
                    <span>Filter By: </span><span style="color: #aaaaaa"> Optional</span>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getChannel($event)">
                        <ion-select-option value="select">Select Channel</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of channelArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getType($event)">
                        <ion-select-option value="select">Select Type</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of TypeArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getProduct($event)">
                        <ion-select-option value="select">Select Channel</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of productArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getMethod($event)">
                        <ion-select-option value="select">Select Method</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of paymentMethodArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getVendor($event)">
                        <ion-select-option value="select">Select Vendor</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of vendorArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col class="select-form-others" text-center>
                    <ion-select value="select" okText="Okay" cancelText="Dismiss" class="no-pad-input"
                        (ionChange)="getVendor($event)">
                        <ion-select-option value="select">Select Vendor Type</ion-select-option>
                        <ion-select-option value="{{item }}" *ngFor="let item of vendorTypeArray">{{ item }}
                        </ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row class="margin-top">
                <ion-col>
                    <ion-button expand="full" (click)="searchTrans()">Search</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>



</ion-content>