<div class="header" fixed ion-fixed>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-badge color="dark" class="position">
          <ion-icon name="person"></ion-icon>
        </ion-badge>
      </ion-col>
      <ion-col>
        <p text-center class="wite-color font-13">Good Day, Admin</p>
      </ion-col>
      <ion-col style="text-align: right !important">
        <ion-badge color="light" class="position">
          <ion-icon name="notifications"></ion-icon>
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="card-margin">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <hr>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>

          </ion-col>
          <ion-col>

          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
<ion-content padding>

  <ion-toolbar>
    <ion-slides pager="true">
      <ion-slide class="step-one">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide class="step-two">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide class="step-three">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-content>