<div class="header" fixed ion-fixed>
  <ion-grid>
    <ion-row class="m-t-t">
      <ion-col>
        <span>More</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content>
  <ion-list>
    <ion-item routerLink="/service-status">
      <!--Basic: auto-select the icon based on the platform -->
      <ion-icon name="switch"></ion-icon>
      <ion-label>Service Status</ion-label>
    </ion-item>
    <ion-item routerLink="/service-status">
      <!--Basic: auto-select the icon based on the platform -->
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>
  </ion-list>

</ion-content>