.badge-danger{
    background: #EB5757;;
    color: #ffffff;
    padding:2px;
    border-radius:5px;
    font-size:10px;
}

.badge-warning{
    background: #f40;
    color: #ffffff;
    padding:2px;
    border-radius:5px;
    font-size:10px;
}

.badge-success{
    background: #219653;;
    color: #ffffff;
    padding:2px;
    border-radius:5px;
    font-size:10px;
}

.badge-info{
    background: #0cd1e8;
    color: #ffffff;
    padding:2px;
    border-radius:5px;
    font-size:10px;
}
.heading{
    font-size: 10px !important;
    font-weight: 900 !important;
}
.sub-heading{
    font-size: 12px; 
}