.badge-danger{
    background: #EB5757;;
    color: #ffffff;
    padding: 3px 15px 3px 15px;
    font-size:12px;
}

.badge-warning{
    background: #e59024;
    color: #ffffff;
    padding: 3px 15px 3px 15px;
    font-size: 12px;
}

.badge-success{
    background: #219653;;
    color: #ffffff;
    padding: 3px 15px 3px 15px;
    font-size:12px;
}

.badge-info{
    background: #0cd1e8;
    color: #ffffff;
    padding: 3px 15px 3px 15px; 
    font-size:12px;
}
.heading{
    font-size: 10px !important;
    font-weight: 900 !important;
}
.sub-heading{
    font-size: 12px; 
}