<!-- start header  -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col>
          <img src="assets/logo.svg" />
        </ion-col>
        <ion-col size-lg offset="8" (click)="openSearchModal()">
          <span item-end>
            <ion-icon name="search" item-end text-right style="font-size: 25px;" class="my-primary"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- end headers -->
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- start of cards for the transaction pages -->
  <div *ngIf="isLoadingSummary">

    <div class="ion-paddings custom-skeleton">
      <ion-row class="neg-margin-2">
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row class="neg-margin-2">
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="isDataSummary">
    <ion-row class="neg-margin">
      <ion-col class="no-pad-right">
        <ion-card class="card-left">
          <ion-card-header class="pad-bottom">
            <ion-card-subtitle>Active User</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content text-right>
            <span class="weight active-user-card" >{{ uniqueUser  }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="no-pad-left">
        <ion-card class="card-right">
          <ion-card-header class="pad-bottom">
            <ion-card-subtitle>Total Transaction</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="pad-bottom">
            <ion-row>
              <ion-col>
                <span class="weight count-style-card">{{summaryTotalCount }}</span>
              </ion-col>
              <ion-col>
                <span class="weight money-style-card">&#8358; {{summaryTotalAmount | thousandSuff }}</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="neg-margin">
      <ion-col class="no-pad-right">
        <ion-card class="card-left">
          <ion-card-header class="pad-bottom">
            <ion-card-subtitle>Successful Transaction</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="pad-bottom">
            <ion-row>
              <ion-col>
                <span class="weight count-style-card">{{ summarySuccessCount}}</span>
              </ion-col>
              <ion-col>
                <span class="weight money-style-card success">&#8358; {{ summarySuccessAmount | thousandSuff }}</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="no-pad-left">
        <ion-card class="card-right">
          <ion-card-header class="pad-bottom">
            <ion-card-subtitle>Failed Transaction</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="pad-bottom">
            <ion-row>
              <ion-col>
                <span class="weight count-style-card">{{summaryFailCount  }}</span>
              </ion-col>
              <ion-col>
                <span class="weight money-style-card failed">&#8358; {{ summaryFailAmount | thousandSuff}}</span>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <!-- end of cards for the transaction pages -->

  <!-- beginning of headers for transaction -->
  <div *ngIf="isLoadingTransaction">

    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>


      <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>

      <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>

      <ion-skeleton-text animated style="width: 100%; height: 40px;"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </div>


  </div>
  <ion-row class="weight">
    <ion-col size="4"><span>Product</span></ion-col>
    <ion-col size="3"><span>Terminal Id</span></ion-col>
    <ion-col size="3"><span>Amount</span></ion-col>
    <ion-col size="2"><span>Status</span></ion-col>
  </ion-row>
  
  <!-- <ion-row *ngIf="notFound">
    <span class="weight">No Result(s) Found</span><ion-icon name="search"></ion-icon>
  </ion-row> -->
  <!-- end of hr=eaders for transaction -->
  <!-- start of transaction body -->
  <!-- <span *ngIf="!trans" class="no-data-overall">No Data Available</span> -->
  <div *ngFor='let el of trans'>
    <ion-row class="trans-background" (click)="detailsModal(el)">
      <ion-col size="4"><span>{{ el.name }}</span></ion-col>
      <ion-col size="3"><span>{{el.terminal }} </span></ion-col>
      <ion-col size="2"><span>&#8358; {{ el.nairaAmount | thousandSuff }}</span></ion-col>
      <ion-col size="3"><span>{{ el.status}}</span></ion-col>
    </ion-row>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreTrans($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- end of transaction bodys -->
</ion-content>